<?xml version="1.0" encoding="UTF-8"?>
<config>
    <video_options jump_ahead_sec="10" jump_back_sec="10"/>
    <nebel_tv_homepage>http://www.nebel.tv/</nebel_tv_homepage>
    <frontend_download_link>https://github.com/NebelTVOrg/NebelTV-TeaserFrontend/archive/master.zip</frontend_download_link>
</config>