<?xml version="1.0" encoding="UTF-8"?>
<config>
    <video_options jump_ahead_sec="10" jump_back_sec="10"/>
    <nebel_tv_homepage>http://www.nebel.tv/</nebel_tv_homepage>
    <frontend_download_link>https://docs.google.com/uc?id=0BzNgyn1JigeuNF9rSjB0M3FFbUk&amp;export=download</frontend_download_link>
</config>